<h2>CONTRO DE MENSAJES</h2>
<form id="formularioEnvioMensajes">
  <input type="text" placeholder="direccion de email" name="email" />
  <input type="text" placeholder="Su calido mensaje" name="message" />
  <input type="submit" value="Enviar!" />
</form>

<p id="injectedMessages"></p>
